CONFIG_IDF_CMAKE=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_FREERTOS_UNICORE=y
CONFIG_FREERTOS_TASK_FUNCTION_WRAPPER=n
CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=5
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y
CONFIG_FREERTOS_ENABLE_STATIC_TASK_CLEAN_UP=y
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y

CONFIG_ESP_INT_WDT=y
CONFIG_ESP_TASK_WDT=y

CONFIG_ESP_SYSTEM_MEMPROT_FEATURE=n
CONFIG_ESP_SYSTEM_MEMPROT_FEATURE_LOCK=n

CONFIG_NEWLIB_NANO_FORMAT=y

CONFIG_ESP_PRIVILEGE_SEPARATION_ENABLE=y
CONFIG_PA_BACKTRACE_INFO=n
CONFIG_PA_DELETE_VIOLATING_TASK=y
CONFIG_ESP_SYSCALL_VERIFY_RETURNED_POINTERS=y
